@model ListModel<PiecesParams, Piece>

@{
	ViewBag.Title = "Puzzle pieces";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var width = Model.Param.Puzzle != null ? Model.Param.Scale(Model.Param.Puzzle.Width) + "px" : "100%";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal box" }))
{
	<div class="box-header with-border">
		<h3 class="box-title">Filter</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			@Html.LabelFor(x => x.Param.PuzzleId, new { @class = "col-sm-1 control-label" })
			<div class="col-sm-5">
				@Html.DropDownListFor(x => x.Param.PuzzleId, Model.Param.Puzzles.ToSelectList(), new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.Param.PuzzleId)
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Apply</button>
	</div>
}
<div class="box">
	<div class="box-header with-border">
		<a href="@Url.Action("Edit")" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></a>
		<h3 class="box-title">Puzzle pieces</h3>
	</div>
	<div class="puzzle">
		<div style="width: @width; height: @(PiecesParams.PreviewHeight)px;"></div>
		@foreach (var item in Model.Items)
		{
			<a href="@Url.Action("Edit", new { item.Id })" style="left: @Model.Param.Scale(item.X)px; top: @Model.Param.Scale(item.Y)px; width: @Model.Param.Scale(item.Width)px; height: @Model.Param.Scale(item.Height)px;">@item.Id</a>
		}
	</div>
</div>
<div class="box">
	<table class="table table-striped table-bordered table-hover">
		<colgroup>
			<col>
			<col class="col-md-2">
			<col class="col-md-3">
			<col class="col-md-3">
			<col class="col-md-4">
		</colgroup>
		<thead>
			<tr>
				<th><a href="@Url.Action("Edit")" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></a></th>
				<th>Id</th>
				<th>Position</th>
				<th>Size</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody data-sortable="@Url.Action("Move")">
			@foreach (var item in Model.Items)
			{
				<tr data-id="@item.Id">
					<td><a href="@Url.Action("Edit", new { item.Id })" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a></td>
					<td>@Html.DisplayFor(x => item.Id)</td>
					<td>@($"({item.X}, {item.Y})")</td>
					<td>@($"({item.Width}, {item.Height})")</td>
					<td>@Html.DisplayFor(x => item.Date)</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					@Html.Partial("Pager", Model.Items)
				</td>
			</tr>
		</tfoot>
	</table>
</div>

@section scripts {
	@Scripts.Render("~/bundles/js-sortable")
}