<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Mahabharata - @ViewBag.Title</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@Styles.Render("~/bundles/css-admin")
</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		@*Main Header*@
		<header class="main-header">
			@*Logo*@
			<a href="@Url.Action("Index", "Admin")" class="logo">
				<span class="logo-mini">MH</span>
				<span class="logo-lg">Mahabharata</span>
			</a>
			@*Header Navbar*@
			<nav class="navbar navbar-static-top">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle menu</span>
				</a>
			</nav>
		</header>
		@*Left side column. Contains the logo and sidebar*@
		<aside class="main-sidebar">
			<section class="sidebar">
				@*Sidebar Menu*@
                <ul class="sidebar-menu">
					<li class="header text-uppercase">Navigation</li>
					@Html.MenuItem("fa-files-o", "Index", "Seasons", "Seasons")
					@Html.MenuItem("fa-file-video-o", "Index", "Episodes", "Episodes")
					@Html.MenuItem("fa-picture-o", "Index", "Puzzles", "Puzzles")
					@Html.MenuItem("fa-puzzle-piece", "Index", "Pieces", "Pieces")
					@Html.MenuItem("fa-quote-right", "Index", "Quotes", "Quotes")
					@Html.MenuItem("fa-music", "Index", "Music", "Music")
					@Html.MenuItem("fa-commenting-o", "Index", "Notifications", "Notifications")
					<li class="header text-uppercase">Other</li>
					@Html.MenuItem("fa-sign-out", "Logout", "Admin", "Logout")
					@Html.MenuItem("fa-download", "Editor", "Admin", "Download editor")
				</ul>
			</section>
		</aside>
		@*Content Wrapper. Contains page content*@
		<div class="content-wrapper">
			@*Content Header (Page header)*@
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
            </section>
            @*Main content*@
			<section class="content">
				@RenderBody()
			</section>
		</div>
		@*Main Footer*@
		<footer class="main-footer">
			&copy; @DateTime.Now.Year Mahabharata
		</footer>
	</div>
	@RenderSection("scripts", required: false)
	@if (!IsSectionDefined("scripts"))
	{
		@Scripts.Render("~/bundles/js-admin")
	}
</body>
</html>